.App {
  text-align: center;
  font-family: avenir;
  max-width: 1500px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.Header {
  background-color: #2C9CD9;
  min-height: 5vh;
  text-align: left;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 1vh;

}

.Container {
  width: 75%; 
  margin: 0 auto;
}

.HomepageBanner {
  width: 100%;
}

.BoundingBox {
  background-color: #F5F6F8;
  padding: 5vh 10vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: calc(10px + 1vmin);
}

h1 {
  font-size: 5vmin; 
}

button {
  padding: 1vh 1.5vw;
  background-color: #014C7F;
  border-radius: 10px;
  border-style: solid;
  color: white;
  font-size: 1.5vmin;
  border-color: #014C7F;
  cursor: grab;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  cursor: grab;
}

td {
  padding: 1vh 1.5vw;
}

tr:hover {
  background-color: #3386FF;
  color: white;
}

.selectedItem {
  background-color: #3386FF;
  color: white;
}

.draftPickerElement {
  border: 1px solid black;
  cursor: grab;
  padding: 1vh;
  text-align: left;
}

.draftPickerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
  margin-bottom: 2vh;
  margin-right: 1vw;
}